body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#dealer-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#your-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#hit {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

#stay {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

.rules {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}